*, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    list-style: none;
}


a:hover{
    color: black;
    cursor: pointer;
}
a:visited{
    color: black;
}
a{
    color: black;
    text-decoration: none;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    background: #868686;
    color: white;
    padding: 0 20px;
}

.navbar{
    ul{
        display: flex;
        flex-direction: row;
        li{
            padding: 0 10px;
            margin: 0 10px;
        }
    }
    > a, a:visited, a:hover {
        color: white;
    }
}

.container{
    max-width: 1400px;
    margin: 50px auto;
}

.container-articles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.card-article{
    transition: .3s ease-in-out;

}
.card-article:hover{
    transform: scale(1.05);
    transition: .3s ease-in-out;
}

.content-card-article{
    display: flex;
    flex-direction: column;
    background: beige;
    padding: 15px;
}

.container-article{
    display: flex;
    flex-direction: column;
}

.container-comments{
    margin-top: 50px;
}

.formulaire{
    display: flex;
    flex-direction: column;
    > div {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px 0;
        > input, textarea {
            padding: 5px;
        }
        > button {
            width: 200px;
            margin: 0 auto;
            padding: 10px;
            border-radius: 10px;
            border: none;
            background: aqua;
        }
        > button:hover{
            cursor: pointer;
        }
    }
}
