*, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    list-style: none;
}


a:hover {
    color: black;
    cursor: pointer;
}

a:visited {
    color: black;
}

a {
    color: black;
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    background: #868686;
    color: white;
    padding: 0 20px;
}

.navbar {
    ul {
        display: flex;
        flex-direction: row;

        li {
            padding: 0 10px;
            margin: 0 10px;
        }
    }

    > a, a:visited, a:hover {
        color: white;
    }
}

.container {
    max-width: 1400px;
    margin: 50px auto;
}


.container-articles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

    > h2 {
        color: #333;
    }

    .card-article {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #b6b6b6;
        padding: 15px;

        > .content-card-article {
            transition: ease-in-out .3s;

            > .title-article {
                color: #007BFF !important;
            }

            > .content-article, .author-article {
                color: #555555;
            }
        }

        > .content-card-article:hover {
            transform: scale(1.02);
            transition: ease-in-out .3s;
            cursor: pointer;
        }

        > .img-edit-article img {
            width: 40px;
            height: 40px;
            transition: ease-in-out .3s;

        }
        > .img-edit-article img:hover {
            transform: scale(1.1);
            transition: ease-in-out .3s;
            cursor: pointer;
        }
    }
}


.formulaire {
    display: flex;
    flex-direction: column;

    > div {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px 0;

        > input, textarea {
            padding: 5px;
        }

        > button {
            width: 200px;
            margin: 0 auto;
            padding: 10px;
            border-radius: 10px;
            border: none;
            background: aqua;
        }

        > button:hover {
            cursor: pointer;
        }
    }
}
